<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Spring Security Demo</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<style>
.navbar {
	background-color: rgba(138, 215, 245, 0.341);
}
</style>
<body>

	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<!-- <button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button> -->
				<!-- <a class="navbar-brand">Add new word</a> -->
			</div>
		</div>
	</nav>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<!-- Create HTML registration form -->
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">


				<h1>Add new word</h1>

				<form th:action="@{/LK/words/add}" method="post" th:object="${words}">
					<div class="form-group">
						<label class="control-label" for="wordEng"> English </label>
						<input id="wordEng" class="form-control" th:field="*{wordEng}"
							required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="wordRus"> Russian </label> <input
							id="wordRus" class="form-control" th:field="*{wordRus}"
							required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-primary">Add</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>