<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Spring Security Demo</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<style>
.navbar {
	background-color: rgb(223, 88, 140);
}
</style>
<body>
	<div id="myData"></div>
	<script type="text/javascript">
		fetch('http://localhost:8080/LK/s')
			.then(function (response) {
				return response.json();
			})
			.then(function (data) {
				appendData(data);
			})
			.catch(function (err) {
				console.log('error: ' + err);
			});
	
		function appendData(data) {
			let mainContainer = document.getElementById("myData");
			let div = document.createElement("div");
			div.innerHTML = 'Name: ' + data[i].level;
			mainContainer.appendChild(div);
		}
	</script>
	</body>
</html>